.UserMenu {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    margin-right: 5px;
}

.welcome {
    margin-right: 15px;
}


.btn {
    display: block;
    margin: 0 auto;
    padding: 10px 5px;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    line-height: 1.3em;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(154, 173, 190, 0.795);
    box-shadow: -1px 5px 8px 0px rgba(34, 60, 80, 0.2);
}